@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&family=Eater&display=swap");
.project-container {
  padding: 1px 0px 0px 0px;
  background-color: rgb(255, 255, 253);
}
/* Project title */

.title {
  text-align: center;
}

.titleText {
  font-size: 2em;
  font-weight: 300;
  color: #111;
}

.titleText span {
  position: relative;
  /* color: #ff0157; */
  color: #08aac7;
  font-size: 1.5em;
  font-weight: 700;
}
/* Project title */
.project-container-title {
  text-align: center;
  margin: 60px 0px;
}
.project-container-title h1 {
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}
.project-container-title p {
  color: #454547;
  font-size: 19px;
}
.project-box {
  margin: 30px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 40px;
}
.project-box__container {
  max-width: 650px;
  /* min-height: 320px; */
  max-height: 700px;
  border: 1px solid rgb(8, 8, 8);
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
}
.project-box__container .project_image {
  max-width: 650px;
  object-fit: cover;
}
/* project Content */
.project-box__content {
  padding: 0px 10px 20px 30px;
  color: #fff;
  font-family: "Cairo", sans-serif;
}
.project-box__content--box {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}
.project-box__content--box--icon {
  margin-top: 5px;
}
.icon-git {
  color: #fff;
  margin-right: 5px;
}
.icon-git:hover {
  color: #dcf405;
}

.icon_color {
  color: #fff;
  margin-top: -20px;
}
.icon-git:hover,
.icon_color:hover {
  color: #dcf405;
  /* background-color: rgb(234 231 48 / 28%); */
  /* box-shadow: 0px 1px 7px 1px #dcf405; */
  transform: scale(1.2);
}
.project-box__content h2 {
  font-family: "Cairo", sans-serif;
}
/* project-box__content--code_icons */
.project-box__content--code_icons {
  display: flex;
}
.project-box__content--code_icons .code_icons {
  border: 1px solid rgb(88, 85, 85);
  padding: 5px 0px 0px 8px;
  border-radius: 5px;
  margin: 0px 10px 0px 0px;
}
.project-box__content--code_icons .code_icons .text {
  padding: 0px 10px 0px 7px;
}
.text_explaination {
  margin-top: 14px;
  /* color: #d0cbcbc4; */
  color: #8f9094;
}
.bg-yellow {
  color: rgb(240 235 225);
  background-color: rgb(234 231 48 / 28%);
  box-shadow: 0px 1px 7px 1px #dcf405;
}
.bg-orange {
  color: rgb(244 228 207);
  background-color: rgb(255 166 0 / 31%);
  box-shadow: 0px 1px 7px 1px #f48305;
}

.bg-blue {
  color: rgb(210, 233, 247);
  background-color: rgb(0 183 255 / 33%);
  box-shadow: 0px 1px 7px 1px #07dbe4;
}
.bg-green {
  color: rgb(210, 233, 247);
  background-color: rgba(0, 255, 85, 0.33);
  box-shadow: 0px 1px 7px 1px #3be407;
}

@media (min-width: 1240px) {
  .project-box__container {
    max-width: 550px;
    /* min-height: 120px; */
    /* max-height: 290px; */
  }
  .project-box__container .project_image {
    max-width: 550px;
  }
}
@media (max-width: 1240px) {
  .project-box {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 991px) {
  .project-box__container {
    max-width: 500px;
  }
  .project-box__container .project_image {
    max-width: 500px;
  }
  .project-box__content--code_icons .code_icons .text {
    padding: 0px 3px 0px 3px;
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .titleText {
    font-size: 1.5em;
  }
  .project-box__content h2 {
    font-size: 20px;
  }
  .project-container-title p {
    font-size: 12px;
  }
  .text_explaination {
    font-size: 14px;
  }
  .project-box {
    margin: 0px;
    grid-gap: 40px;
  }
  .project-box__container {
    max-width: 450px;
  }

  .project-box__container .project_image {
    max-width: 450px;
  }
  .project-box__content--code_icons .code_icons {
    padding: 2px 3px 0px 4px;
  }
  .project-box__content--code_icons .code_icons .text {
    font-size: 13px;
  }
}

@media (max-width: 470px) {
  .project-box__content {
    padding: 0px 5px 20px 12px;
  }
  .project-box__container {
    min-width: 120px;
    max-width: 340px;
  }
  .project-box__container .project_image {
    min-width: 120px;
    max-width: 340px;
  }
}
@media (max-width: 400px) {
  .project-box__container {
    min-width: 120px;
    max-width: 290px;
    /* max-height: 158px; */
  }
  .project-box__container .project_image {
    min-width: 120px;
    max-width: 290px;
    /* max-height: 200px; */
  }
}

/* .project-box__content {
    padding: 0px 10px 20px 11px;
    color: #fff;
    font-family: "Cairo", sans-serif;
} */
